[submodule ".\\sources_non_forked\\Jedi"]
	path = .\\sources_non_forked\\Jedi
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "sources_non_forked/YCM"]
	path = sources_non_forked/YCM
	url = https://github.com/Valloric/YouCompleteMe.git
