[submodule ".\\sources_non_forked\\Jedi"]
	path = .\\sources_non_forked\\Jedi
	url = https://github.com/davidhalter/jedi-vim.git
[submodule ".\\sources_non_forked\\Deliminate"]
	path = .\\sources_non_forked\\Deliminate	
	url = https://github.com/Raimondi/delimitMate
[submodule ".\\sources_non_forked\\NeoComplete"]
	path = .\\sources_non_forked\\NeoComplete
	url = git://github.com/Shougo/neocomplete.vim
[submodule ".\\sources_non_forked\\SingleCompile"]
	path = .\\sources_non_forked\\SingleCompile	
	url = https://github.com/xuhdev/SingleCompile