[submodule "sources_non_forked/SingleCompile"]
	path = sources_non_forked/SingleCompile
	url = https://github.com/xuhdev/SingleCompile
[submodule "sources_non_forked/Deliminate"]
	path = sources_non_forked/Deliminate
	url = https://github.com/Raimondi/delimitMate
[submodule "sources_non_forked/ScrollColors"]
	path = sources_non_forked/ScrollColors
	url = https://github.com/Raimondi/delimitMate
[submodule "sources_non_forked/vim-colorschemes"]
	path = sources_non_forked/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "sources_non_forked/YCM"]
	path = sources_non_forked/YCM
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "sources_non_forked/Syntastic"]
	path = sources_non_forked/Syntastic
	url = https://github.com/scrooloose/syntastic.git
